# --- Logging ---
LOG_LEVEL=INFO

# --- Database Credentials ---
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=db

# --- Database Connection (Internal Docker Network) ---
# NOTE: In docker-compose, we override HOST to 'db'
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable

# SQLSERVER
SQLSERVER_USER=user
SQLSERVER_PASSWORD=pass
SQLSERVER_HOST=000.000.000.00
SQLSERVER_DB=db

# --- gRPC Server Config ---
WHATSMEOW_HOST=0.0.0.0
WHATSMEOW_PORT=50051

# --- Python Client Config ---
GRPC_HOST=meow_server
GRPC_PORT=50051
API_HOST=0.0.0.0
API_PORT=8000

# GMAIL
SMTP_SERVER=smtp.gmail.com
IMAP_SERVER=imap.gmail.com
SMTP_PORT=587
SMTP_PASSWORD=pass
SMTP_USER=example@example.es
GMAIL_ACCOUNTS_FILE=/app/gmail_accounts.json

# CUDARA
CUDARA_URL=http://cudara:8000
CUDARA_DEFAULT_MODELS=sentence-transformers/all-MiniLM-L6-v2,openai/whisper-small,unsloth/Qwen3-4B-Instruct-2507-GGUF,unsloth/Qwen2.5-VL-3B-Instruct-GGUF,BAAI/bge-reranker-v2-m3
CUDARA_EMBED_MODEL=sentence-transformers/all-MiniLM-L6-v2
CUDARA_RERANK_MODEL=BAAI/bge-reranker-v2-m3
CUDARA_ASR_MODEL=openai/whisper-small
CUDARA_TEXT_MODEL=unsloth/Qwen3-4B-Instruct-2507-GGUF
CUDARA_VISION_MODEL=unsloth/Qwen2.5-VL-3B-Instruct-GGUF

# QDRANT
QDRANT_URL=http://qdrant:6333
QDRANT_COLLECTION=my_collection

RESPONSE_DELAY_MINUTES=1
MOCK_EMAIL=example@gmail.com